@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Log in";
}

@section Styles{
    <link href="~/client-side/css/Login-Box-En.css" rel="stylesheet" />
    <link href="~/client-side/css/login.css" rel="stylesheet" />
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<section class="bg0 p-t-62 p-b-60">
    <div class="d-flex flex-column justify-content-center" id="login-box">
        <div class="login-box-header">
            <h4 style="color:#333;margin-bottom:0px;font-weight:400;font-size:27px;font-family:Poppins-Medium"> @Localizer["Welcome"]</h4>
        </div>
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count > 0)
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="login-box-content">
                        @foreach (var provider in loginProviders)
                        {
                            if (provider.Name == "Facebook")
                            {
                                <div class="fb-login box-shadow">
                                    <button name="provider" value="@provider.Name" type="submit" class="flex-row align-items-center social-login-link"><i class="fa fa-facebook" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Login with @provider.Name</button>
                                </div>
                            }
                            else if (provider.Name == "Google")
                            {
                                <div class="gp-login box-shadow">
                                    <button name="provider" value="@provider.Name" type="submit" class="d-flex flex-row align-items-center social-login-link" style="margin-bottom:10px;"><i class="fa fa-google" style="color:rgb(255,255,255);width:56px;"></i>Login with @provider.Name</button>
                                </div>
                            }
                        }
                    </div>
                </form>
            }
        }
        <div class="d-flex flex-row align-items-center login-box-seperator-container">
            <div class="login-box-seperator"></div>
            <div class="login-box-seperator-text">
                <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">or</p>
            </div>
            <div class="login-box-seperator"></div>
        </div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="email-login" style="background-color:#ffffff;">
                <input asp-for="Email" type="email" placeholder="@Localizer["Email"]" class="email-imput form-control required" style="margin-top:10px;">
                <input asp-for="Password" type="password" required="" placeholder="@Localizer["Password"]" minlength="6" class="password-input form-control required" style="margin-top:10px;">
            </div>
            <div class="submit-row" style="margin-bottom:8px;padding-top:0px;">
                <button class="btn btn-primary btn-block box-shadow" type="submit" id="submit-id-submit">@Localizer["Login"]</button>
            </div>
            <div class="d-flex justify-content-between">
                <a class="m-l-8 p-l-10" asp-action="ForgotPassword" id="forgot-password-link">@Localizer["ForgotPassword"]</a>
            </div>
        </form>

        <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
            <p style="margin-bottom:0px;"> @Localizer["Dont"]<a href="/register.html" id="register-link"> @Localizer["SignUp"]</a></p>
        </div>
    </div>
</section>