@model ContactPageViewModel
@inject IViewLocalizer Localizer
@section Scripts{
    <!-- OpenMap -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCgCU-HHAaxtcmDIVL4LNZmxohVtGWUug">
    </script>
    <script src="~/app-client/controllers/contact/index.js" asp-append-version="true"></script>
    <script>
        var contactObj = new ContactController();
        contactObj.initialize();
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

}
<input type="hidden" id="hidLng" value="@Model.Contact.Lng" />
<input type="hidden" id="hidLat" value="@Model.Contact.Lat" />
<input type="hidden" id="hidAddress" value="@Model.Contact.Address" />
<input type="hidden" id="hidName" value="@Model.Contact.Name" />
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/client-side/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        @Localizer["Contact"]
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        @if (ViewData["Success"] != null)
        {
            if ((bool)ViewData["Success"] == true)
            {
                <div class="alert alert-success">
                    @Localizer["Thankyou"]
                </div>

            }
            else
            {
                <div class="alert alert-danger">
                    @Localizer["HaveAnError"]
                </div>

            }
        }
        else
        {
            <div class="flex-w flex-tr">
                <div  class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        @Localizer["SendMess"]
                    </h4>

                    <form action="/contact" method="post">
                        @Html.AntiForgeryToken()
                        <div class="bor8 m-b-   20 how-pos4-parent">
                            <input asp-for="Feedback.Email" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" placeholder="@Localizer["YourEmailAddress"]">
                            <img class="how-pos4 pointer-none" src="~/client-side/images/icons/icon-email.png" alt="ICON">
                        </div>
                        <span class="text-danger" asp-validation-for="Feedback.Email"></span>
                        <div class="bor8 m-b-30">
                            <textarea asp-for="Feedback.Message" class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" placeholder="@Localizer["HowCanWeHelp"]"></textarea>
                        </div>
                        <span class="text-danger" asp-validation-for="Feedback.Message"></span>
                        <!--recaptcha-->
                        <recaptcha />
                        <span class="text-danger" id="recaptchaErrorMessage"></span>
                        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            @Localizer["Send"]
                        </button>
                    </form>
                </div>

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
                        <span class="fs-18 cl5 txt-center size-211">
                            <span class="lnr lnr-map-marker"></span>
                        </span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">
                                @Localizer["Address"]
                            </span>

                            <p class="stext-115 cl6 size-213 p-t-18">
                                @Model.Contact.Address
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
                        <span class="fs-18 cl5 txt-center size-211">
                            <span class="lnr lnr-phone-handset"></span>
                        </span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">
                                @Localizer["LetsTalk"]
                                <br />
                            </span>

                            <a href="tel:@Model.Contact.Phone" class="stext-115 cl1 size-213 p-t-18">
                                @Model.Contact.Phone
                            </a>
                        </div>
                    </div>

                    <div class="flex-w w-full">
                        <span class="fs-18 cl5 txt-center size-211">
                            <span class="lnr lnr-envelope"></span>
                        </span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">
                                @Localizer["Email"]
                                <br />
                            </span>

                            <a href="mailto:@Model.Contact.Email" class="stext-115 cl1 size-213 p-t-18">
                                @Model.Contact.Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<!-- Map -->
<div id="map" class="size-303"></div>