@model DetailViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Product.Name;
    var category = Model.Category;
    var product = Model.Product;
    var author = Model.Author;
    var publisher = Model.Publisher;
    var urlCookie = Context.Request.Path;
}

@section Scripts{
    <script src="~/app-client/controllers/product/detail.js"></script>
    <script src="~/lib/fxss-rate/rate.js"></script>
    <script>
        var price = onlineshop.formatNumber(@product.Price, 0);
        //var promotionPrice = onlineshop.formatNumber(@product.PromotionPrice, 0);
        document.getElementById('price').innerHTML = price;
        //document.getElementById('promotion-price').innerHTML = promotionPrice;
        // this prevents from typing non-number text, including "e".
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            let charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                evt.preventDefault();
            } else {
                return true;
            }
        }
    </script>
    <script>
        var productObj = new ProductDetailController();
        productObj.initialize();

        $('.parallax100').parallax100();

        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });

        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });

        /*---------------------------------------------*/

        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <script>
        var productId = @product.Id;
        var pointToInit = 0;
        var totalUserVoted = 0;
        var url = "@urlCookie";
        $("#rateBox").rate({
            // 0：svg  1：Font class  2：Unicode
            type: 0,
            // the number of stars
            length: 5,
            // initial value
            value: 3.5,
            // allows half star
            half: true,
            // supports decimal?
            decimal: true,
            // is readonly?
            readonly: false,
            // shows the current rating value on hover
            hover: false,
            // shows rating text
            text: true,
            // an array of rating text
            textList: ['Bad', 'Poor', 'Medium', 'Good', 'Perfect'],
            // color
            theme: '#FFB800',
            // text/star size
            size: '20px',
            // space between stars
            gutter: '3px',
            // default CSS classes
            selectClass: 'fxss_rate_select',
            incompleteClass: '',
            customClass: '',
            callback: function (object) {
                $.ajax({
                    type: "POST",
                    url: "/Product/SendRatingAsync",
                    data: {
                        VoteForId: productId,
                        Vote: object.index + 1,
                        url: url
                    }
                });
            }
        });
        $.ajax({
            url: '/Product/GetProductRating',
            type: 'GET',
            data: {
                productId: productId
            },
            success: function (response) {
                console.log(response)
                pointToInit = response.RatingPoint;
                totalUserVoted = response.TotalVote;
                $("#total-vote").text(totalUserVoted);
                $("#rating-point").text(pointToInit.toFixed(1));
               $("#ratebox-show-container").rate({
            type: 0,
            // the number of stars
            length: 5,
            // initial value
            value: pointToInit.toFixed(1),
            // allows half star
            half: true,
            // supports decimal?
            decimal: true,
            // is readonly?
            readonly: true,
            // color
            theme: '#FFB800',
            // text/star size
            size: '20px',
            // space between stars
            gutter: '3px',
            // default CSS classes
            selectClass: 'fxss_rate_select',
            incompleteClass: '',
            customClass: ''
        });
            }
        })
    </script>

}

@section Styles {
    <link href="~/lib/fxss-rate/rate.css" rel="stylesheet" />
}

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="home.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="products" class="stext-109 cl8 hov-cl1 trans-04">
            @category.Name
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @product.Name
        </span>
    </div>
</div>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="@product.Image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@product.Image" alt="@product.Name">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@product.Image">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            @foreach (var item in Model.ProductImages)
                            {
                                <div class="item-slick3" data-thumb="@item.Path">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="@item.Path" alt="@item.Caption">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@item.Path">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (product.Status != OnlineShopCore.Data.Enums.Status.InActive)
            {
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            @product.Name
                        </h4>


                        @if (product.PromotionPrice.HasValue)
                        {
                            <span class="mtext-106 cl2" style="font-size: 250%">
                                @product.PromotionPrice?.ToString("C0") <span class="badge badge-danger">Hot</span>
                            </span>

                            <br />

                            <span class="mtext-106 cl2">
                                <strike>@product.Price.ToString("C0")</strike>
                            </span>

                        }
                        else
                        {
                            <span class="mtext-106 cl2">
                                @product.Price.ToString("C0")
                            </span>
                        }

                        <div class="stext-102 cl3 p-t-23">
                            @if (product.Content != null && product.Content.Length >= 200)
                            {
                                @Html.Raw(product.Content.Substring(0, 199))
                                <text> ... </text>
                            }
                            else
                            {
                                @Html.Raw(product.Content)
                            }
                        </div>

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input id="txtQuantity" class="mtext-104 cl3 txt-center num-product" type="number" oninput="validity.valid||(value='');" onpress="isNumber(event)" name="txtQuantity" value="1">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                    <button id="btnAddToCart" data-id="@product.Id" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        @Localizer["AddToCart"]
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                    <i class="zmdi zmdi-favorite"></i>
                                </a>
                            </div>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            @product.Name
                        </h4>

                        <span class="mtext-105 cl2" style="font-size: 150%">
                            @Localizer["ProductUnavailable"]
                        </span>
                    </div>
                </div>
            }
        </div>

        @if (product.Status != OnlineShopCore.Data.Enums.Status.InActive)
        {
            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">@Localizer["Description"]</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#information" role="tab">@Localizer["DetailInformation"]</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#review" role="tab">@Localizer["Review"]</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    @Html.Raw(product.Content)
                                </p>
                            </div>
                        </div>


                        <!-- - -->
                        <div class="tab-pane fade" id="information" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <ul class="p-lr-28 p-lr-15-sm">

                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                @Localizer["PublisherName"]
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                @publisher.PublisherName
                                            </span>
                                        </li>

                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                @Localizer["AuthorName"]
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                @author.AuthorName
                                            </span>
                                        </li>

                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                @Localizer["PublishYear"]
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                2018
                                            </span>
                                        </li>

                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                @Localizer["NumberOfPages"]
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                236
                                            </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Comments - -->
                        <div id="review" class="tab-pane fade" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <partial name="_VoteNow.cshtml" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <div class="fb-comments" data-href="https://localhost:44379/@product.SeoAlias-p@product.Id" data-width="" data-numposts="8"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <div id="ratebox-show-container" class="p-lr-25">
        </div>

        <span class="p-lr-25 small">
            Overall rating: <span id="total-vote"></span> | Rating <span id="rating-point"></span> out of <span>5</span>
        </span>
    </div>
</section>

<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                @Localizer["RelatedProducts"]
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var item in Model.RelatedProducts)
                {
                    var url = item.SeoAlias + "-p" + item.Id;
                    url = url.ToLower();
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <a href="@url">
                                    <img src="@item.Image" alt="IMG-PRODUCT">
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @item.Name
                                    </a>

                                    <span class="stext-105 cl3">
                                        @if (item.PromotionPrice.HasValue)
                                        {
                                            <strike>@item.Price.ToString("C0") </strike>@item.PromotionPrice?.ToString("C0")
                                        }
                                        else
                                        {
                                            @item.Price.ToString("C0")
                                        }
                                    </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="/client-side/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/client-side/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>