@model IndexViewModel
@inject IViewLocalizer Localizer
@section Scripts{
    <script src="~/app-client/controllers/account/index.js" asp-append-version="true"></script>
    <script>
        var accountObj = new AccountController();
        accountObj.initialize();
    </script>
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>@Model.Username</h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div></hr><br>


            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
            </div>


            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Thông tin tài khoản</a></li>
                <li><a data-toggle="tab" href="#order-history">Đơn hàng của tôi</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Họ tên</h4></label>
                                <input type="text" class="form-control" name="fullname" id="first_name" placeholder="first name" value="@Model.FullName">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Số điện thoại</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" value="@Model.PhoneNumber">
                            </div>
                        </div>

                        <div class="form-group">


                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" value="@Model.Email">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Địa chỉ</h4></label>
                                <input class="form-control" id="location" placeholder="somewhere" value="@Model.Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <hr>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Lưu</button>
                                @*<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>*@
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->

                <div class="tab-pane" id="order-history">
                    <table class="table-shopping-cart">
                        <tbody id="table-order-history-content"></tbody>
                    </table>


                    <script id="template-order-history" type="x-tmpl-mustache">
                        <tr class="tr-display-bill-id-{{BillId}}">
                            <td colspan=3>
                                <h5>Đơn hàng số: {{BillId}} | {{BillStatus}} | <button data-id="{{BillId}}" id="btn-cancel-order">Hủy đơn hàng</button> </h5>
                            </td>
                        </tr>
                        <tr class="table_row" data-id="{{ProductId}}">
                            <td class="column-1">
                                <div class="itemcart1">
                                    <img src="{{Image}}" style="width:60px;height:80px" alt="{{ProductName}}" />
                                </div>
                            </td>
                            <td class="column-2">{{ProductName}}</td>
                            <td class="column-3 txt-center">{{Price}} ₫</td>
                            <td class="column-4">
                                <input data-id="{{ProductId}}" readonly tabindex="-1" class="mtext-104 cl3 txt-center txtQuantity" value="{{Quantity}}">
                            </td>
                        </tr>
                    </script>

                    <script id="template-order-history-2" type="x-tmpl-mustache">
                        <tr class="table_row" data-id="{{ProductId}}">
                            <td class="column-1">
                                <div class="itemcart1">
                                    <img src="{{Image}}" style="width:60px;height:80px" alt="{{ProductName}}" />
                                </div>
                            </td>
                            <td class="column-2">{{ProductName}}</td>
                            <td class="column-3 txt-center">{{Price}} ₫</td>
                            <td class="column-4">
                                <input data-id="{{ProductId}}" readonly tabindex="-1" class="mtext-104 cl3 txt-center txtQuantity" value="{{Quantity}}">
                            </td>
                        </tr>
                    </script>

                    <script id="template-order-history-with-canceled-status" type="x-tmpl-mustache">
                        <tr class="tr-display-bill-id-{{BillId}}">
                            <td colspan=3>
                                <h5>Đơn hàng số: {{BillId}} | {{BillStatus}}</h5>
                            </td>
                        </tr>
                        <tr class="table_row" data-id="{{ProductId}}">
                            <td class="column-1">
                                <div class="itemcart1">
                                    <img src="{{Image}}" style="width:60px;height:80px" alt="{{ProductName}}" />
                                </div>
                            </td>
                            <td class="column-2">{{ProductName}}</td>
                            <td class="column-3 txt-center">{{Price}} ₫</td>
                            <td class="column-4">
                                <input data-id="{{ProductId}}" readonly tabindex="-1" class="mtext-104 cl3 txt-center txtQuantity" value="{{Quantity}}">
                            </td>
                        </tr>
                    </script>
                </div><!--/tab-pane-->
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
